{% extends 'heydayzdiary/base.html' %}
{% block content %}
	<script>
		$(document).ready(function() {
			$('#id_date_of_birth').datepicker({ dateFormat: 'yy-mm-dd' });
		});
	</script>

	<h1>Add a new Person</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }} 	
		<input type="submit" value="Submit" />
	 </form>
	 <p>
	 <a href="{% url 'heydayzdiary:person-list' %}">View All persons</a>
	</p>
	<p>
	 <a href="{% url 'heydayzdiary:days' %}">Back to DAYS List</a>
	</p>
	
{% endblock %}

