{% load static %}

<link rel = "stylesheet" type = "text/css" href="{% static 'heydayzdiary/style.css' %}">

<h1>{{ day_entry_location.id }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'heydayzdiary:day_entry_location-update' day_entry_id=day_entry_location.day_entry_id pk=day_entry_location.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
 </form>

 <p>
 <a href="{% url 'heydayzdiary:location-add' %}">Add a NEW Location</a>
</p>

  <p>
 <a href="{% url 'heydayzdiary:day_entry_location-delete' day_entry_id=day_entry_location.day_entry_id pk=day_entry_location.id %}">Delete Location from this Day</a>
 </p>

 <p>
 <a href="{% url 'heydayzdiary:detail-update' day_entry_location.day_entry_id %}">Back to DAY</a>
 </p>
