{% load static %}

<link rel = "stylesheet" type = "text/css" href="{% static 'heydayzdiary/style.css' %}">
<div class = "frontpage">
{% if latest_day_entries %}
	<ul>
	{% for day_entry in latest_day_entries %}
		<a href="{% url 'heydayzdiary:detail-update' day_entry.id %}"><li class = "frontpagelist" >DAY <strong>{{ day_entry.day_date|date:"Y-m-d" }}</strong> {{ day_entry.day_headline }}</li></a>
	{% endfor %}
		<a href="{% url 'heydayzdiary:detail-add' %}"><li class = "frontpagelist_addnew" ><strong>ADD NEW DAY</strong></li></a>
	</ul>
{% else %}
	<p>No Day Entries are available.</p>
{% endif %}
</div>