{% load static %}

<link rel = "stylesheet" type = "text/css" href="{% static 'heydayzdiary/style.css' %}">
<link rel = "stylesheet" type = "text/css" href="{% static 'heydayzdiary/jquery-ui.min.css' %}">
<script src ="{% static 'heydayzdiary/jquery-3.2.1.min.js' %}"></script>
<script src ="{% static 'heydayzdiary/jquery-ui.js' %}"></script>
<script>
  $( function() {
	//sleep duration slider
    $( "#meal_time_slider" ).slider({
      range: "min",
      value: 0,
      min: 0,
      max: 1440,
      slide: function( event, ui ) {
	  
		var hours1 = String(Math.floor(ui.value / 60));
				var minutes1 = String(ui.value - (hours1 * 60));
				if (ui.value == 1440){
					hours1 = "23";
					minutes1 = "59";
				}

				if (hours1.length == 1) hours1 = '0' + hours1;
				if (minutes1.length == 1) minutes1 = '0' + minutes1;
				if (minutes1 == 0) minutes1 = '00';

				$('#id_meal_time').val(hours1 + ':' + minutes1);
				
       
      }
    });
	
	//initialise the slider for the meal time
	var slider_time_total_minutes = 0;	
	
	if ($('#id_meal_time').val()){
		var slider_time = $('#id_meal_time').val();
		//parse and convert to a number of minutes (0-1440)
		var slider_time_hours = slider_time.substring(0, slider_time.indexOf(":"));
		slider_time = slider_time.substring(slider_time.indexOf(":")+1);
		var slider_time_minutes = slider_time.substring(0, slider_time.indexOf(":"));
		slider_time_total_minutes = (parseInt(slider_time_hours)*60) + parseInt(slider_time_minutes);
		
	}
	
	$( "#meal_time_slider" ).slider('value',slider_time_total_minutes);
    
	
  } );
  </script>

<h1>Edit Meal: {{ meal.description }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'heydayzdiary:meal-update' day_entry_id=meal.day_entry_id pk=meal.id %}" method="post">
    {% csrf_token %}
	<div id="meal_time_slider"></div>
    {{ form.as_p }}
    <input type="submit" value="Submit" />
 </form>
  <p>
 <a href="{% url 'heydayzdiary:meal-delete' day_entry_id=meal.day_entry_id pk=meal.id %}">Delete this Meal</a>
 </p>
 <p>
 <a href="{% url 'heydayzdiary:detail-update' meal.day_entry_id %}">Back to DAY</a>
 </p>
