{% extends 'heydayzdiary/base.html' %}
{% block content %}
	{% load static %}	

	<script src ="{% static 'heydayzdiary/slider_time_selector.js' %}"></script>
	<script>
		 $( function() {
			//INTENSITY slider
			 $( "#intensity_slider" ).slider({
			  range: "min",
			  value: {{ exercise.intensity }},
			  min: 1,
			  max: 10,
			  step:1,
			  slide: function( event, ui ) {
				$( "#id_intensity" ).val( ui.value );
			  }
			});
			$( "#id_intensity" ).val( $( "#intensity_slider" ).slider( "value" ) );
		});
	</script>


	<h1>Edit Exercise: {{ exercise.exercise_type.exercise_type_description }} / {{ exercise.description }}</h1>
	 <p>
		All Exercise on this Day
		<ul>
		{% for exerciseC in exercise.day_entry.exercise_set.all %}
			<li> <a href="{% url 'heydayzdiary:exercise-update' day_entry_id=exercise.day_entry_id pk=exerciseC.id %}">{{ exercise.exercise_type.exercise_type_description }} / {{exerciseC.description}}</a>
			</li>	
		{% endfor %}
		</ul>			
	</p>
	
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'heydayzdiary:exercise-update' day_entry_id=exercise.day_entry_id pk=exercise.id %}" method="post">
		{% csrf_token %}
		<div id="time-range">
			<p>Acivity Duration: <span class="slider-duration"></span></p>
			<div class="sliders_step1">
				<div id="slider-range"></div>
			</div>
		</div>
		{{ form.as_p }}
		<div id="intensity_slider"></div>
		<input type="submit" value="Submit" />
	 </form>
	 <p>
		<a href="{% url 'heydayzdiary:exercise-add' day_entry_id=exercise.day_entry_id %}">Add another Exercise period to this Day</a><br />
	</p>
	  <p>
	 <a href="{% url 'heydayzdiary:exercise-delete' day_entry_id=exercise.day_entry_id pk=exercise.id %}">Delete this Exercise</a>
	 </p>
	 <p>
	 <a href="{% url 'heydayzdiary:detail-update' exercise.day_entry_id %}">Back to DAY</a>
	 </p>
{% endblock %}