{% extends 'heydayzdiary/base.html' %}
{% block content %}
	
	<h1>Jobs</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% if object_list  %}
		<ul>
		{% for job in object_list  %}
		<p>
			<a href="{% url 'heydayzdiary:job-update' job.id %}"> {{ job.id }}:  <strong>{{ job.name }}</strong> </li></a>
		</p>
		{% endfor %}
			
		</ul>
	{% else %}
		<p>No Jobs exist.</p>
	{% endif %}
	 <p>
	 <a href="{% url 'heydayzdiary:job-add' %}">Add a NEW job</a>
	</p>
	<p>
	 <a href="{% url 'heydayzdiary:days' %}">Back to DAYS List</a>
	</p>
	
{% endblock %}
