{% extends 'heydayzdiary/base.html' %}
{% block content %}
	
	<h1>Template Days</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% if object_list  %}
		<ul>
		{% for templateDay in object_list  %}
		<p>
			<a href="{% url 'heydayzdiary:template-day-update' templateDay.id %}"> {{ templateDay.id }}:  <strong>{{ templateDay.name }}</strong> {{ templateDay.description }} DAY: {{ templateDay.day_entry.id }} </li></a>
		</p>
		{% endfor %}
			
		</ul>
	{% else %}
		<p>No Template Days exist.</p>
	{% endif %}
	 <p>
	 <a href="{% url 'heydayzdiary:template-day-add' %}">Add a NEW Template Day</a>
	</p>
	<p>
	 <a href="{% url 'heydayzdiary:days' %}">Back to Days List</a>
	</p>
	
{% endblock %}
