{% extends 'heydayzdiary/base.html' %}
{% block content %}

	<h1>Study_subjects</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% if object_list  %}
		<ul>
		{% for study_subject in object_list  %}
		<p>
			<a href="{% url 'heydayzdiary:study_subject-update' study_subject.id %}"><strong>{{ study_subject.name }}</strong>:{{ study_subject.description }} </li></a>
		</p>
		{% endfor %}
			
		</ul>
	{% else %}
		<p>No Study_subjects exist.</p>
	{% endif %}
	 <p>
	 <a href="{% url 'heydayzdiary:study_subject-add' %}">Add a NEW Study_subject</a>
	</p>
	<p>
	 <a href="{% url 'heydayzdiary:days' %}">Back to DAYS List</a>
	</p>

{% endblock %}
