{% extends 'heydayzdiary/base.html' %}
{% block content %}

	{% load static %}

	<script src ="{% static 'heydayzdiary/slider_time_selector.js' %}"></script>

	<h1>Add a new Study</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="" method="post">
		{% csrf_token %}
		<div id="time-range">
			<p>Study Duration: <span class="slider-duration"></span></p>
			<div class="sliders_step1">
				<div id="slider-range"></div>
			</div>
		</div>
		{{ form.as_p }}
		<input type=hidden name="day_entry_id" value="{{ d_id }}">
		<input type="submit" value="Submit" />
	 </form>
	  <p>
	 <a href="{% url 'heydayzdiary:day-update' d_id %}">Back to DAY</a>
	 </p>
	 
{% endblock %}